body {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #111;
}

header {
    background-color: #222222;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    top: 0;
    width: 100%;
}

#header p {
    margin: 0;
    display: inline-block;
    margin-right: 3vw;
    font-size: 1.3em;
    cursor: pointer;
}
#header a{
    color: white;
    text-decoration: none;
    transition-duration: 0.7s;
}
#header a:hover {
    color: rgb(30, 158, 30);
}

.bg1 {
    background-position: top 0 left;
    background-image: url(StockPhotos/mark-cruz-VW2oU66mwbc-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.bg1 h1 {
    margin-top: 1.5vh;
}

.bg1 h2 {
    margin-top: 6vh;
    max-width: 80%;
    margin: 0 auto;
}

.slider {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}
.slider-controls label:hover{
    transform: scale(1.2);
    color: rgb(30, 158, 30);
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

#slide1:checked ~ .slides { transform: translateX(0); }
#slide2:checked ~ .slides { transform: translateX(-100%); }
#slide3:checked ~ .slides { transform: translateX(-200%); }
#slide4:checked ~ .slides { transform: translateX(-300%); }

.slider-controls {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

label {
    cursor: pointer;
    padding: 0.5em 1em;
    background-color: #333;
    border-radius: 5px;
    margin: 0 0.5em;
    transition: background-color 0.3s ease-in-out;
    color: #fff;
}

#slide1:checked ~ .slider-controls label:nth-child(1),
#slide2:checked ~ .slider-controls label:nth-child(2),
#slide3:checked ~ .slider-controls label:nth-child(3),
#slide4:checked ~ .slider-controls label:nth-child(4) {
    background-color: #888;
}
.cont{
    text-align: center;
    color: white;
}
.gp{
    position: absolute;
    top: 180vh;
    left: 45%;
    border-radius: 30px;
    padding: 1em 2em 1em 2em;
    background-color: #888;
}
.play{
    position: absolute;
    top: 200vh;
    left: 65%;
    border-radius: 30px;
    padding: 1em 2em 1em 2em;
    background-color: #888;
}
.adviteser{
    position: absolute;
    top: 220vh;
    left: 46.5%;
    border-radius: 30px;
    padding: 1em 2em 1em 2em;
    background-color: #888;
}
.developers{
    position: absolute;
    top: 200vh;
    left: 28%;
    border-radius: 30px;
    padding: 1em 2em 1em 2em;
    background-color: #888;
}
.advertisement{
    position: absolute;
    top: 198vh;
    left: 45%;
    border-radius: 30px;
    padding: 2em 2em 2em 2em;
    background-color: #888;
}
.texts{
    color: white;
    font-size: 0.9em;
    font-family: initial;
}
.text1{
    position: absolute;
    top: 188vh;
    left: 41%;
}
.text2{
    position: absolute;
    top: 188vh;
    left: 54%;
}
.text3{
    position: absolute;
    top: 198vh;
    left: 58%;
}
.text4{
    position: absolute;
    top: 207vh;
    left: 58%;
}
.text5{
    position: absolute;
    top: 212vh;
    left: 54%;
}
.text6{
    position: absolute;
    top: 212vh;
    left: 43%;
}
.text7{
    position: absolute;
    top: 207vh;
    left: 38%;
}
.text8{
    position: absolute;
    top: 198vh;
    left: 38%;
}
.arrow {
    width: 0;
    height: 0;
    left: 58%;
    top: 201vh;
    border-style: solid;
    border-width: 7px 0 7px 15px;
    border-color: transparent transparent transparent #b1db34;
    position: absolute;
    animation: arrowMove 0.8s linear infinite;
}

@keyframes arrowMove {
    0% { left: 58%; opacity: 1; }
    50% { left: 61%; opacity: 0; }
    100% { left: 64%; opacity: 0; }
}

.arrow:nth-child(2) {
    animation-delay: 1s;
}
.arrowl {
    width: 0;
    height: 0;
    left: 63%;
    top: 204vh;
    border-style: solid;
    border-width: 7px 15px 7px 0;
    border-color: transparent #b1db34 transparent transparent;
    position: absolute;
    animation: arrowlMove 0.8s linear infinite;
}

@keyframes arrowlMove {
    0% { left: 63%; opacity: 1; }
    50% { left: 60%; opacity: 0; }
    100% { left: 55%; opacity: 0; }
}

.arrowl:nth-child(2) {
    animation-delay: 1s;
}
.arrowv {
    width: 0;
    height: 0;
    left: 51%;
    top: 217vh;
    border-style: solid;
    border-width: 0 7px 15px 7px;
    border-color: transparent transparent #b1db34 transparent;
    position: absolute;
    animation: arrowvMove 0.8s linear infinite;
}

@keyframes arrowvMove {
    0% { top: 217vh; opacity: 1; }
    50% { top: 210vh; opacity: 0; }
    100% { top: 206vh; opacity: 0; }
}

.arrowv:nth-child(2) {
    animation-delay: 1s;
}
.arrown {
    width: 0;
    height: 0;
    left: 49%;
    top: 210vh;
    border-style: solid;
    border-width: 15px 7px 0 7px;
    border-color:#b1db34 transparent transparent transparent;
    position: absolute;
    animation: arrownMove 0.8s linear infinite;
}

@keyframes arrownMove {
    0% { top: 210vh; opacity: 1; }
    50% { top: 217vh; opacity: 0; }
    100% { top: 221vh; opacity: 0; }
}

.arrown:nth-child(2) {
    animation-delay: 1s;
}
.arrow1 {
    width: 0;
    height: 0;
    left: 38%;
    top: 201vh;
    border-style: solid;
    border-width: 7px 0 7px 15px;
    border-color: transparent transparent transparent #b1db34;
    position: absolute;
    animation: arrow1Move 0.8s linear infinite;
}

@keyframes arrow1Move {
    0% { left: 38%; opacity: 1; }
    50% { left: 41%; opacity: 0; }
    100% { left: 44%; opacity: 0; }
}

.arrow1:nth-child(2) {
    animation-delay: 1s;
}
.arrowl1 {
    width: 0;
    height: 0;
    left: 43%;
    top: 204vh;
    border-style: solid;
    border-width: 7px 15px 7px 0;
    border-color: transparent #b1db34 transparent transparent;
    position: absolute;
    animation: arrowl1Move 0.8s linear infinite;
}

@keyframes arrowl1Move {
    0% { left: 43%; opacity: 1; }
    50% { left: 40%; opacity: 0; }
    100% { left: 35%; opacity: 0; }
}

.arrowl:nth-child(2) {
    animation-delay: 1s;
}
.arrowv1 {
    width: 0;
    height: 0;
    left: 51%;
    top: 195vh;
    border-style: solid;
    border-width: 0 7px 15px 7px;
    border-color: transparent transparent #b1db34 transparent;
    position: absolute;
    animation: arrowv1Move 0.8s linear infinite;
}

@keyframes arrowv1Move {
    0% { top: 195vh; opacity: 1; }
    50% { top: 190vh; opacity: 0; }
    100% { top: 186vh; opacity: 0; }
}

.arrowv1:nth-child(2) {
    animation-delay: 1s;
}
.arrown1 {
    width: 0;
    height: 0;
    left: 49%;
    top: 188vh;
    border-style: solid;
    border-width: 15px 7px 0 7px;
    border-color:#b1db34 transparent transparent transparent;
    position: absolute;
    animation: arrown1Move 0.8s linear infinite;
}

@keyframes arrown1Move {
    0% { top: 188vh; opacity: 1; }
    50% { top: 193vh; opacity: 0; }
    100% { top: 197vh; opacity: 0; }
}

.arrown1:nth-child(2) {
    animation-delay: 1s;
}
footer {
    background-color: #222222;
    color: white;
    text-align: center;
    padding: 2em 0;
    position: relative;
    margin-top: 90vh;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h3 {
    color: #b1db34;
}

.footer-section p {
    margin: 10px 0;
}

.footer-section a {
    color: #b1db34;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

.footer-section a:hover {
    text-decoration: underline;
}

.copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #111;
}
@media only screen and (max-width: 1240px, min-width: 1001px;){
    body{
        font-size: 13px;
    }
    header p{font-size: 1.8em;}
    .bg1{
        height: 60vh;

    }
    .bg1 h1{
        margin-top: 0vh;
        font-size: 41px;
    }
    .bg1 h2{
        font-size: 30px;
    }
    .slider-controls label{
        padding: 1.2em 1em;
        font-size: 25px;
    }
    .slider{
        max-height: 600px;
    }
    .gp{
        top: 130vh;
    }
    .play{
        top: 140vh;
    }
    .adviteser{
        top: 150vh;
    }
    .developers{
        top: 140vh;
    }
    .advertisement{
        top: 139vh;
    }
    .text1, .text2{
        top: 133vh;
    }
    .text3, .text8{
        top: 139vh;
    }
    .text4, .text7{
        top: 144vh;
    }
    .text5, .text6{
        top: 147vh;
    }
    .arrow, .arrow1{
        top: 141vh;
    }
    .arrowl, .arrowl1{
        top: 142vh;
    }
    .arrowv1{
        top: 137vh;
    }
    @keyframes arrowv1Move {
        0% { top: 137vh; opacity: 1; }
        50% { top: 133vh; opacity: 0; }
        100% { top: 130vh; opacity: 0; }
    }
    .arrown1{
        top: 134vh;
    }
    @keyframes arrown1Move {
        0% { top: 134vh; opacity: 1; }
        50% { top: 137vh; opacity: 0; }
        100% { top: 139vh; opacity: 0; }
    }
    .arrowv{
        top: 149vh;
    }
    @keyframes arrowvMove {
        0% { top: 149vh; opacity: 1; }
        50% { top: 144vh; opacity: 0; }
        100% { top: 140vh; opacity: 0; }
    }
    .arrown{
        top: 146vh;
    }
    @keyframes arrownMove {
        0% { top: 144vh; opacity: 1; }
        50% { top: 148vh; opacity: 0; }
        100% { top: 152vh; opacity: 0; }
    }
    footer{
        margin-top: 50vh;
    }
}
@media only screen and (max-width: 1000px){
    body{
        font-size: 10px;
    }
    .bg1{
        height: 50vh;
    }
    h1{
        font-size: 30px;
    }
    .slider-controls label{
        padding: 1.5em 2em;
        font-size: 15px;
    }
    .slide{
        height: 35vh;
    }
    .cont{
        font-size: 15px;
    }
    .gp{
        top: 103vh;
        left: 40%;
    }
    .play{
        top: 116vh;
        left: 75%;
    }
    .adviteser{
        top: 130vh;
        left: 42%;
    }
    .developers{
        top: 116vh;
        left: 10%;
    }
    .advertisement{
        top: 115vh;
        left: 41%;
    }
    .texts{
        font-size: 12px;
    }
    .text1, .text2{
        top: 107vh;
    }
    .text3, .text8{
        top: 113vh;
    }
    .text4, .text7{
        top: 123vh;
    }
    .text5, .text6{
        top: 127vh;
    }
    .text5{
        left: 55%;
    }
    .text6{
        left: 37%;
    }
    .arrow, .arrow1{
        top: 116vh;
    }
    .arrow{
        left: 63%;
    }
    @keyframes arrowMove {
        0% { left: 63%; opacity: 1; }
        50% { left: 67%; opacity: 0; }
        100% { left: 70%; opacity: 0; }
    }
    .arrow1{
        left: 33%;
    }
    @keyframes arrow1Move {
        0% { left: 33%; opacity: 1; }
        50% { left: 37%; opacity: 0; }
        100% { left: 39%; opacity: 0; }
    }
    .arrowl1{
        left: 38%;
    }
    @keyframes arrowl1Move {
        0% { left: 38%; opacity: 1; }
        50% { left: 35%; opacity: 0; }
        100% { left: 33%; opacity: 0; }
    }
    .arrowl{
        left:70%;
    }
    @keyframes arrowlMove {
        0% { left: 70%; opacity: 1; }
        50% { left: 66%; opacity: 0; }
        100% { left: 62%; opacity: 0; }
    }
    .arrowl, .arrowl1{
        top: 118vh;
    }
    .arrowv1{
        top: 113vh;
    }
    @keyframes arrowv1Move {
        0% { top: 113vh; opacity: 1; }
        50% { top: 109vh; opacity: 0; }
        100% { top: 106vh; opacity: 0; }
    }
    .arrown1{
        top: 108vh;
    }
    @keyframes arrown1Move {
        0% { top: 108vh; opacity: 1; }
        50% { top: 111vh; opacity: 0; }
        100% { top: 115vh; opacity: 0; }
    }
    .arrowv{
        top: 127vh;
    }
    @keyframes arrowvMove {
        0% { top: 127vh; opacity: 1; }
        50% { top: 124vh; opacity: 0; }
        100% { top: 120vh; opacity: 0; }
    }
    .arrown{
        top: 124vh;
    }
    @keyframes arrownMove {
        0% { top: 124vh; opacity: 1; }
        50% { top: 128vh; opacity: 0; }
        100% { top: 132vh; opacity: 0; }
    }
    footer{
        margin-top: 50vh;
    }
}